.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  // display: flex;
}

.features-list__item {
  // min-width: 270px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list__icon--background {
  background-color: var(--light-backgroung-color);
  border-radius: 4px;
  margin-bottom: 30px;
  // width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-list__header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-black-color);
  margin-bottom: 10px;
}

.features-list__text {
  line-height: 1.71;
}
