.services {
  padding-bottom: 94px;
  display: none;
}

.services__header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
}

.services-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services-list__header {
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
