.team {
  background-color: var(--light-backgroung-color);
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__header {
  line-height: 1.17;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team-list__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    margin-bottom: 0;
  }
}

.team-list__meta {
  padding-top: 30px;
  // padding-bottom: 30px;
  padding-bottom: 24px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-black-color);
  margin-bottom: 10px;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
